<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!-- 입고 현황 -->
        <div class="admin" th:fragment="adminHistory">

            <br>
            <p class="admin_text">발주 상황</p>
            <br>
            <table id="admin_table">
                <th class="admin_table_top">카테고리</th>
                <th class="admin_table_top">브랜드</th>
                <th class="admin_table_top">제품명</th>
                <th class="admin_table_top">단가</th>
                <th class="admin_table_top">재고수량</th>
                <th class="admin_table_top">발주수량</th>
                <th class="admin_table_top">발주현황</th>  <!-- 발주현황(대기중 일때는 버튼, 완료 상태면 글자로) -->
                <th class="admin_table_top">책임자</th>
                <tr>
                    <!-- 줄 시작 -->
                    <!-- 타임리프로 전환 시 반복문 돌릴 것 -->
                    <td class="admin_table_element">1번째 발주</td>
                    <td class="admin_table_element">2번째 발주</td>
                    <td class="admin_table_element">3번째 발주</td>
                    <td class="admin_table_element">4번째 발주</td>
                    <td class="admin_table_element">5번째 발주</td>
                    <td class="admin_table_element">6번째 발주</td>
                    <td class="admin_table_element">
                        <button id="admin_table_btn">입고 확인</button>
                    </td>
                    <td class="admin_table_element">구혜지</td>
                </tr>
            </table>
        </div>

    </body>
</html>
