<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/adminSidebar.css" />
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminSidebar.css}">

</head>

<body>
    <!-- 사이드 바 구조 -->
    <div id="admin_sidebar" th:fragment="adminSidebar">
        <a class="admin_sidebar_list" href="">재고관리</a>
        <a class="admin_sidebar_list" href="">입고내역</a>
        <a class="admin_sidebar_list" href="">매출현황</a>
    </div>
</body>

</html>