<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아시아나IDT- DUTYFREE</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/benefits.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">

</head>

<body style="display: flex; flex-direction: column; align-items: center;">
    <div class="benefits" th:fragment="benefits">
        <div class="title_flex">
            <div class="title">고객님을 위한 쇼핑혜택</div>
            <div class="more">더보기</div>
        </div>
        <div class="card_flex">
            <div class="benefits_card">
                <img id="benefits_image" th:src="@{/img/main/benefit_image1.png}" alt="exhibition_image">
                <div class="benefits_title">NAVER PAY</div>
                <div class="benefits_info">네이버페이로 간편하게 결제하고 할인받자!</div>
            </div>
            <div class="benefits_card">
                <img id="benefits_image" th:src="@{/img/main/benefit_image1.png}" alt="exhibition_image">
                <div class="benefits_title">NAVER PAY</div>
                <div class="benefits_info">네이버페이로 간편하게 결제하고 할인받자!</div>
            </div>
            <div class="benefits_card">
                <img id="benefits_image" th:src="@{/img/main/benefit_image1.png}" alt="exhibition_image">
                <div class="benefits_title">NAVER PAY</div>
                <div class="benefits_info">네이버페이로 간편하게 결제하고 할인받자!</div>
            </div>
        </div>
    </div>
</body>