<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아시아나IDT- DUTYFREE</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">

</head>

<body>
    <div class="footer" th:fragment="footer">
        <div class="footer_top_box">
            <div class="footer_link_list">
                <div class="footer_link">아시아나 IDT 소개</div>
                <div class="footer_link">입점 / 제휴</div>
                <div class="footer_link">이용약관</div>
                <div class="footer_link">개인정보 처리 방침</div>
                <div class="footer_link">사이트맵</div>
            </div>
        </div>
        <div class="footer_bottom_box">
            <div class="footer_bottom">
                <img th:src="@{/img/main/Logo2.png}" alt="logo2">
                <div class="footer_bottom_info">주식회사 아시아나 IDT 면세점</div>
                <div class="footer_bottom_info"> 대표이사 : 서근식 | 서울시 종로구 우정국로 26 셀트로 폴리스 A동 23,25 (03161)</div>
                <br>
                <div class="footer_bottom_info">COPYRIGHT© ASIANA IDT INC. ALL RIGHTS RESERVED</div>
            </div>
        </div>
    </div>
</body>

</html>