<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아시아나IDT- DUTYFREE</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/productFiveCard.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">

</head>

<body>
    <div th:fragment="product_card_small(product)" style="width:100%">
        <img id="product_image" th:src="@{${product.path}}" src="/img/beauty/겔랑_로르 래디언스 베이스 듀오.jpg" alt="product_image">
        <div class="product_brand" th:text="${product.brand}">크리니크</div>
        <div class="product_title">
            <a th:href="@{/product/{productId}(productId= ${product.id})}">
                <span th:text="${product.name}">(24년 7월) 퀵라이너 포 아이즈- Intense Black</span>
            </a>
        </div>
        <div class="price_flex">
            <div class="price_dollar" th:text="'$' + ${product.price}">$22.4</div>
            <div class="price_won">30,051원</div>
        </div>
    </div>
</body>