<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아시아나IDT- DUTYFREE</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/productFiveCard.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">

</head>

<body>
    <div class="product_four_card" th:fragment="ProductFourCard(products, dollar)">
        <div class="title_flex">
            <div class="title">TODAY'S SALE</div>
            <div class="more">더보기</div>
        </div>
        <div class="card_flex">
            <div class="product_card" th:each="product : ${products}">
                <div th:replace="~{Component/ProductCard :: product_card(${product}, ${dollar})}"></div>
            </div>
        </div>
    </div>
</body>