<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="../static/css/admin.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="../../static/css/reset.css"
        />
    </head>
    <body>
        <!-- 재고 관리 -->
        <p class="admin_text">재고 관리</p>
        <table id="admin_table">
            <th class="admin_table_top">카테고리</th>
            <th class="admin_table_top">제품코드</th>
            <th class="admin_table_top">브랜드</th>
            <th class="admin_table_top">제품명</th>
            <th class="admin_table_top">단가</th>
            <th class="admin_table_top">재고수량</th>
            <th class="admin_table_top">발주현황</th>
            <th class="admin_table_top">발주현황</th>
            <th class="admin_table_top">발주하기</th>
            <tr>
                <!-- 줄 시작 -->
                <!-- 타임리프로 전환 시 반복문 돌릴 것 -->
                <td class="admin_table_element">1번째 칸</td>
                <td class="admin_table_element">2번째 칸</td>
                <td class="admin_table_element">3번째 칸</td>
                <td class="admin_table_element">4번째 칸</td>
                <td class="admin_table_element">5번째 칸</td>
                <td class="admin_table_element">6번째 칸</td>
                <td class="admin_table_element">7번째 칸</td>
                <td class="admin_table_element">
                    <input
                        type="number"
                        name=""
                        id="admin_table_input"
                        min="1"
                        value="1"
                    />
                </td>
                <td class="admin_table_element">
                    <button id="admin_table_btn">발주</button>
                </td>
            </tr>
            <tr>
                <!-- 두번째 줄 시작 -->
                <!-- 타임리프 전환하면 여기는 필요 없음 -->
                <td class="admin_table_element">1번째 칸</td>
                <td class="admin_table_element">2번째 칸</td>
                <td class="admin_table_element">3번째 칸</td>
                <td class="admin_table_element">4번째 칸</td>
                <td class="admin_table_element">5번째 칸</td>
                <td class="admin_table_element">6번째 칸</td>
                <td class="admin_table_element">7번째 칸</td>
                <td class="admin_table_element">
                    <input
                        type="number"
                        name=""
                        id="admin_table_input"
                        min="1"
                        value="1"
                    />
                </td>
                <td class="admin_table_element">
                    <button id="admin_table_btn">발주</button>
                </td>
            </tr>
        </table>
        <p>발주 상황</p>
    </body>
</html>
