<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>이미지</h1>
<!--    th:text="${variable}-->
<!--    <img th:src="@{"th:{img.path}"}">-->
<!--    <img th:src="@{img.path}" />-->
<!--    <p th:text="${imgUrl}"></p>-->
<!--    <img th:src="@{th:text="${imgUrl}"}">-->
<!--    <img th:attr="src=@{imgUrl}, alt='qewq'" height="538" width="300"/>-->
<br/>
<!--    <img th:src="@{${imgUrl}}" alt="Image">-->
<img th:src="@{/img/bag/닥스_블랙 로고패턴 가죽 클러치백}" alt="Bag Image" />
</body>
</html>